@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
body
{
/*background-color:#503146;*/
background: rgba(80,49,70,1);
background: linear-gradient(163deg, rgba(80,49,70,1) 0%, rgba(68,47,79,1) 100%); 
background-repeat: no-repeat;
background-attachment: fixed;

color:#FAECD1;
font-family: "Yaldevi", sans-serif;
font-size:1vw;
}
.cwierc
{

	padding:1%;
	margin:-1%;
	width:42vw;
	height:100%;
	/* background-color:rgba(255,0,0,0.1); */

	float:left;
	
	
}
.cwierc2
{
	
	width:13vw;
	height:100%;
	margin:0  1vw 0 0vw;

	float:left;
}

.cwierc3
{
	background: #67427d;
	width:20%;
	height:100vh;
	margin-top:-1%;
	
	padding:4%;
	position:absolute;
	z-index:999;
	right:0;
	float:right;
}
button, select, input	
{
font-size:.8vw;	
cursor: pointer;
border: 0px solid rgb(187, 204, 0);
width:13vw;
height:4vh;
color: rgb(250, 236, 209);
transition: .3s;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
border-radius: 6px;
background: #67427d;
font-weight: 400;
}
sup
{
font-size:.3vw;		
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  text-align:center;
  margin: 0; 
  font-size:1.1vw;
}


button:hover
{
transition: 1s;
font-weight: 700;
color:#2e1c28;
background: rgb(204, 0, 105);
border-color: rgb(204, 0, 105);
border-width: 0px;
border-style: solid;
}

td
{
	font-size:.9vw;
	cursor: pointer;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	background: #67427d;
	border: 1px solid #FAECD1;
	
	text-align:center;
	width:9vw;
	height:2vw;
	transition: .5s;
}
td:hover
{
	font-weight:bold;
	background: #2e1c28;
	border-color: rgb(204, 0, 105);
	color: rgb(204, 0, 105);

}

td:nth-child(even)
{
	width:2vw;
	
	font-weight:bold;

}

p
{
	font-size:1.3vw;
	height:.6vw;
}

.spacer
{
	margin-top:.2vw;
	margin-bottom:1vw;
	height:.8vw;
}

select
{

	margin-top:.3vh;
}
.checkbox
{
	
	width:fit-content;
}
input
{
	width:2vw;
	border:0;
	background-color:rgba(0,0,0,0);
}



.checkbox > input 
{

    appearance: none;
    border-radius: 4px;
    transition-duration: 0.3s;
    background-color: rgba(0,0,0,0);

}

.checkbox > input:checked {
  
    background-color: #FAECD1;
}
#atuty, #wady 
{

	font-size:.8vw;
	line-height:1.5vw;
}
.cechy_w
{
	font-size:.95vw;
}
p{font-size:1.2vw;block-size: fit-content;}

img
{
	
margin-top:-30vh;	
width:3vw;
height:3vw;
cursor:pointer;
mix-blend-mode: luminosity;

}
img:hover
{
mix-blend-mode: normal;
}
hr
{
border: 1px solid rgba(80,49,70,1);
  border-radius: 5px;	
  width:25vw;
margin-left:-3vw;
}


/*/ mobilka /*/



@media screen and (max-width: 500px) {

  td
	{
		font-size:.6vh;
		cursor: pointer;
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		background: #67427d;
		border: 1px solid #FAECD1;
		
		text-align:center;
		width:100px;
		height:2vh;
		transition: .5s;
	}
	td:nth-child(even)
	{
		width:100px;

		font-weight:bold;

	}
	.cwierc
	{

		padding:1%;
		margin:-1%;
		width:90%;
		height:auto;
		/* background-color:rgba(255,0,0,0.1); */

		float:left;

		
	}
	
	.cwierc2
{
	
	width:30%;
	height:90%;
	float:left;
	min-height:150px;

}
.cwierc3
{
	background: #67427d;
	width:30%;
	height:auto;
	margin-top:-1%;
	top:50vh;
	padding:4%;
	position:absolute;
	z-index:999;
	right:0;

}

	table
	{
		height:100%;
	float:left;	
	}
	
	
	button, select
	{
	font-size:.6vh;	


	width:11vh;
	height:4vh;
	color: rgb(250, 236, 209);
	transition: .3s;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	border-radius: 2px;
	background: #67427d;
	font-weight: 400;
	}	
	
	input	
	{
	font-size:.6vh;	
	cursor: pointer;
	
	width:1vw;
	height:1vh;
	color: rgb(250, 236, 209);
	transition: .3s;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	border-radius: 0px;
	background: #67427d;
	font-weight: 400;
	}
	
	p, .spacer
	{
		font-size:.8vh;
		float:left;
		margin-top:.5vh;
		margin-bottom:1vh;
		height:.8vh;
		width:100%;
	}
	#atuty, #wady 
	{
		
		font-size:.6vh;
		line-height:1.5vh;
	}
	
	.cwierc3 > p
	{
		font-size:1.1vh;
		float:left;
		
		height:auto;
		width:100%;

	}
	
	
}



